<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/template.html}"
>
<head>
    <title>Eleve</title>
</head>
<body>
<div layout:fragment="content">
    <section id="content">
        <!-- MAIN -->
        <main>
            <div class="head-title">
                <div class="left">
                    <h1>Tableau de bord</h1>
                    <ul class="breadcrumb">
                        <li>
                            <a class="active" th:href="@{/home}">Tableau de bord</a>
                        </li>
                        <li><i class='bx bx-chevron-right'></i></li>
                        <li>
                            <a>Eleves</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div th:replace="~{/fragments/table-students :: table-students(students=${students})}"></div>

            <div id="confirmModal" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="closeModal()">&times;</span>
                    <h2>Attention !!!</h2>
                    <p>Voulez-vous supprimer cet élève ?</p>
                    <form id="deleteForm" method="POST">
                        <button class="confirm-btn" type="submit">Confirmer</button>
                        <button class="cancel-btn" onclick="closeModal()">Annuler</button>
                    </form>
                </div>
            </div>
        </main>
        <!-- MAIN -->
    </section>
</div>
</body>
</html>
