<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<!-- SIDEBAR -->
<section id="sidebar" th:fragment="sidebar">
    <a href="#" class="brand">
        <i class='bx bxs-smile'></i>
        <span class="text">Mon Etab</span>
    </a>
    <ul class="side-menu top">
        <li class="active">
            <a th:href="@{/home}">
                <i class='bx bxs-dashboard'></i>
                <span class="text">Tableau de bord</span>
            </a>
        </li>
        <li>
            <a th:href="@{/students}">
                <i class='bx bxs-group'></i>
                <span class="text">Eleve</span>
            </a>
        </li>
        <li>
            <a th:href="@{/teachers}">
                <i class='bx bxs-group'></i>
                <span class="text">Professeurs</span>
            </a>
        </li>
        <li>
            <a th:href="@{/users}">
                <i class='bx bxs-group'></i>
                <span class="text">Utilisateurs</span>
            </a>
        </li>
        <li>
            <a th:href="@{/rapport}">
                <i class='bx bxs-doughnut-chart'></i>
                <span class="text">Rapports</span>
            </a>
        </li>
    </ul>
    <ul class="side-menu">
        <li>
            <a href="#" class="logout">
                <i class='bx bxs-log-out-circle'></i>
                <span class="text">Déconnexion</span>
            </a>
        </li>
    </ul>
</section>
<!-- SIDEBAR -->
<div layout:fragment="content">
</div>
<script th:src="@{https://cdn.jsdelivr.net/npm/chart.js}"></script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>